
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h4>Yukarıdaki sabit içerik</h4>
    <div>
        @RenderBody()
    </div>
    <h4>Aşağıdaki sabit içerik</h4>
</body>
</html>
