@using FD.ToFollowUp.WebUI.ViewComponents
@model List<MusteriViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Kategoriler")

<table>
    <fatih gelen-data="Ben seni severim bek seni severin"> </fatih>
    <tr>
        <th>ViewBag.Isim</th>
        <td>@ViewBag.Isim</td>
    </tr>
    <tr>
        <th>ViewData.Isim</th>
        <td>@ViewData["Isim"]</td>
    </tr>
    <tr>
        <th>TempData["Isim"]</th>
        <td>@TempData["Isim"]</td>

    </tr>

</table>

@await Component.InvokeAsync( "Urunler")



